In [97]:
import pandas as pd 
import numpy as np 
from tensorflow.keras.models import load_model 
import pickle 
import tensorflow as tf

In [98]:
## Load the trained model ,scaler ,pickle , onehot 

model = load_model('model.h5')

# OneHot encoder  
with open('onehet_encoder_geo.pkl','rb') as file:
        label_encoder_geo = pickle.load(file)
 
# label_encoder_gender 

with open('label_encode_gender.pkl','rb') as file:
        label_encode_gender = pickle.load(file)

## scaler 
 
with open('scaler.pkl','rb') as file:
        scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [99]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,    
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary': 50000
}

In [100]:
data = pd.DataFrame([input_data])

In [101]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [102]:
data['Gender'] =  label_encode_gender.transform(data['Gender'])

In [103]:
# one hot encoder 'Geogtaphy' column

geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

c:\Users\Dinesh\data science\End to End deep learning model Using ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [104]:
input_data = pd.DataFrame([input_data])

In [105]:
input_data = pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)

In [106]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [107]:
## Encode categorical variables 

input_data['Gender'] = label_encode_gender.transform(input_data['Gender'])

In [108]:
input_data = input_data.drop(columns=['Geography'])

In [109]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [113]:
## scaling the input data 

input_scaled  = scaler.transform(input_data)

In [114]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [121]:
prediction  = model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step

In [124]:
prediction_proba = prediction[0][0]

prediction_proba

np.float32(0.042238537)

In [125]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.